/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Kaushan+Script&family=Loved+by+the+King&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
h1{
    font-size: 36px;
}

h2{
    font-size: 28px;
}

#inicio{
    margin-bottom: 120px;
    min-height: 100vh;

}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {    text-decoration: none;
    color: inherit;
  
}
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin:auto;
    margin-top: 120px;
    

}

header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position:fixed;
  width:100%;
  height: 90px;
  z-index: 1;
  padding: 5px;
  background-color:#fbfbfb;
  filter: drop-shadow(0px 7px 21px rgb(37, 37, 37));
  margin-left: -50px;
  

  }

/*#menu{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;    
}*/

a{
    margin:0 20px 20px 0;
}


body{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin:0 50px 0 50px;
  text-align: center;
  background-color:#fbfbfb;
  color: #0f0f0f;
}

.logo01{
    display: flex;
    width: 90px;   
    border-radius: 45px;
    padding: 18px;
    transition: all 300ms;
    filter: drop-shadow(0px 7px 21px rgb(23, 24, 24));
    animation: rotar 3s linear infinite;
}

@keyframes rotar{
    from{
      transform: rotateY(360deg); 
    }
     to{
      transform: rotateY('-180deg');
     }
  }

.logo01:hover{
    transform: scale(1.2);
    transition: all 300ms;}

.logo{
    margin-top: 10px;
    width:60px;
    max-width: 100px;
    padding: 5px;

    transition: all 300ms;
}
.logo:hover{
    transform: translateY(-20px);
    transition: all 300ms;

}
.yo{
    width: 100%;  
    max-width: 400px;
    border-radius: 50%;
}

/*.gif-menu{
    width: 25px;
    display: block;
}*/

figure{
    display: flex;
    justify-content: center;
}


#contacto{
    background-color:rgba(175, 89, 158, 0.3);
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 30px;
    
}

.gif-menu{ display:flex;  
}

.enlace{
    text-align: center;
    max-width: 100px;
    padding: 15px;
    border-radius: 25px;
    background-color:#af599e;
    color: #fbfbfb;
    border-style: double;
    border-color: #af599e;
    font-size: 20px;   
    margin: auto;
}
  
 

  footer{
    background-color:#af599e;
    padding: 20px;
   text-align: center;
    border-radius: 20px 20px 0 0 ;
}
.cv{
    padding: 15px;
    border-radius:15px;
    background-color:#af599e;
    border-width: 0px;
    font-size: 20px;
}

  .tab:target ~ .tab:last-of-type>a {
    background-color: var(--tabs-dark-color); 
    z-index: 0; 
  }

 .tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
    
  }
  /*esto controla las visivilidad de las pesstañas*/
 .tabset .tab-panel {
    display: none
    
  } 
  .tabset > input:first-child:checked~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4)
   {
    display:inline-block;
    justify-content: space-between;
  }
  /*esto controla el aspecto del contenido de las pestañas*/
  .tabset > label {
    /*position: relative;*/
    display: inline-block;
    justify-content: space-around;
    margin-left: 1%;
    border: 50px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    background-color: var(--tabs-dark-color);
    padding: 2px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-bottom: 0;
  }
  