@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Kaushan+Script&family=Loved+by+the+King&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    font-family: 'Bagel Fat One', cursive;
    display: flex;
    justify-content: center;
    align-items: flex-en;

    margin-top: 5px;
}
body{ 
  font-family: 'Kaushan Script', cursive;
  font-size: 16px;
  line-height: 1;



}
.container{
height: 10px;
height: 120px;
display: flex;
justify-content: first baseline;
align-items: flex-end;
flex-direction: column;
perspective: 500px;
}
.mini{
  width: 100px;
  height:100px;
  border-radius: 50px;
  position: absolute;
  filter: drop-shadow(0px 7px 21px rgb(30, 166, 211));
  animation: rotar 3s linear infinite;
  margin-top: 0;
  margin-bottom: 0px;
  left: 5px;
}


.gus1:hover{
  cursor: pointer;
}

@keyframes rotar{
  from{
    transform: rotateY(360deg); 
  }
   to{
    transform: rotateY('-180deg');
   }
}

.content-all{
 display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin-top: 50px;
  perspective: 1000px;
  position: relative;
  
}
.content-all .content{
  flex: content;
  padding: 200px;
  

}
.content-carrousel{
  width: 50%;
  position: absolute;
  animation: rotacion 20s infinite linear;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 200px 0px black;
  margin-left: 90%;
  margin-right: 30%;

} 
.content-carrousel:hover{
  animation-play-state: paused;
  transition: all 300ms;
  cursor: pointer;

 }
 .content-carrousel figure{
  width: 90px;
  height: 100px;
 
  position: absolute;

 }



 .content-carrousel figure:nth-child(1){transform:rotateY(36deg)
  translateZ(150px);}
 .content-carrousel figure:nth-child(2){transform:rotateY(72deg)
  translateZ(150px);}
 .content-carrousel figure:nth-child(3){transform:rotateY(108deg)
  translateZ(150px);}
 .content-carrousel figure:nth-child(4){transform:rotateY(144deg)
  translateZ(150px);}
 .content-carrousel figure:nth-child(5){transform:rotateY(180deg)
  translateZ(150px);}
 .content-carrousel figure:nth-child(6){transform:rotateY(216deg)
  translateZ(150px);}
 .content-carrousel figure:nth-child(7){transform:rotateY(252deg)
  translateZ(150px);}
 .content-carrousel figure:nth-child(8){transform:rotateY(288deg)
  translateZ(150px);}
 .content-carrousel figure:nth-child(9){transform:rotateY(324deg)
  translateZ(150px);}
 .content-carrousel figure:nth-child(10){transform:rotateY(360deg)
  translateZ(150px);}
 
.content-carrousel img{
  border-radius: 15px;
  width: 100%;
  transition: all 300ms;
  box-shadow: 0px 0px 20px 0px black;
} 
.content-carrousel img:hover{
 transform: scale(1.2);
 box-shadow: 0px 0px 00px 0px black;
 transition: all 300ms;
} 
@keyframes rotacion{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

.tabset{
  display:block;
margin: 0 5% 0 5%;

}

.tab-panel{
  display: flex;
  align-items: center;
  text-align: center;
}

h1{
   margin-left: 30%;
}


#logo{
    display: flex;
}

img.perfil{
    border-radius: 100px;
    width: 200px;
    border: solid rgb(77, 154, 231);
    padding: 10px;
    transition: all 600ms;
    position: relative;
}

img.perfil:hover{
  transform: scale(1.15);

}
section{
    font-size: 28px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1% 10% 0 10% ;
}
.banderita{
  max-width: 100%;
  width: 100px;
  height: auto;
  object-fit: contain;
  object-position: center;
  
} 
 

p{
    font-size: 20px; 
    text-align: justify; 
}

footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 30px;
    margin-top: 10%;
}
button{
    background-color: #a5cef3;
    border: solid #564fb1;
    border-radius: 15px;
    padding: 8px;
    font-family: 'Kaushan Script', cursive;
    font-size: medium;
    margin: 10px;   
}
.cv{
  text-align: center;
}

.tab-content {
    display: none;
  }
  .tab:target .tab-content, .tab:last-of-type .tab-content {
    display: block;
  }
  .tab:target ~ .tab:last-of-type .tab-content {
    display: none;
  }

  :root {
    --tabs-border-color: #ABCDEF;
    --tabs-border-size: 3px;
    --tabs-text-color: #000000;
    --tabs-dark-color: #ac6099;
    --tabs-lite-color: #a5cef3;
    --tabs-width: 120px;
    --tabs-height: 40px;

  }
 
  h2, p {
    margin: 0;
  } 
  a {
    color: inherit;
    text-decoration: none;
  }   

  .tabs * {
    box-sizing: border-box;
  }
  .tab-container {
    position: relative;
    padding-top: var(--tabs-height); /* en esta zona colocaremos las pesta침as */
  } 
  #tab1>a { --tabs-position: 0; }
  #tab2>a { --tabs-position: 1; }
  #tab3>a { --tabs-position: 2; }
  #tab4>a { --tabs-position: 3; }
  #tab5>a { --tabs-position: 4; }
  #tab6>a { --tabs-position: 5; }
  #tab7>a { --tabs-position: 6; }
  #tab8>a { --tabs-position: 7; }
  #tab9>a { --tabs-position: 8; }
  .tab>a {
    text-align: center;
    position: absolute;
    width: calc(var(--tabs-width));
    height: calc(var(--tabs-height) + var(--tabs-border-size)); 
    top: 0;
    left: calc(var(--tabs-width) * var(--tabs-position)); /* posici칩n de cada pesta침a */
  }
  .tabs { 
    padding: 10px;
    color: var(--tabs-text-color);
    font-size: 24PX;

  }
  .tab-content {
    background-color: var(--tabs-lite-color); 
    padding: 20px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 100;
  }
  .tab>a {
    background-color: var(--tabs-dark-color); 
    padding: 10px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
  }
  .tab:target>a, .tab:last-of-type>a {
    background-color: var(--tabs-lite-color); 
    z-index: 200;
  }
  .tab:target ~ .tab:last-of-type>a {
    background-color: var(--tabs-dark-color); 
    z-index: 0; 
  }

#contactos{
  font-size: medium; 

}
.lista1{
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  animation: jump 1s linear infinite;
  transition: all 300ms;
  margin-right: 10px;  
}

@keyframes jump{
  from{
    transform: translateY(5px); 
  }
   to{
    transform: translateY(0px);
   }
}

#fotos{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  width: 150%;
  grid-auto-flow: row;
  justify-content: center;
  padding: 0 10% 0 10%;
}

#fotos img{
  width: 150%;
  transition: all 600ms;
  position: relative;
  border-radius: 20px;
  padding: 0 30% 0 30%;
  
}

#fotos img:hover{
  transform: scale(160%);
  padding: 0;
 
}

#habilidades{
  font-size: 18px;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado f치cilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/*
 CSS for the main interaction
*/


.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 100px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
   

    background-color: var(--tabs-dark-color);
    padding: 10px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
}



input:focus-visible + label {
  outline: 2px solid rgb(157, 119, 192);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  background-color: var(--tabs-lite-color);
}



.tabset > input:checked + label {
  border-color: rgb(77, 154, 231);
 /* border-bottom: 1px solid #fff; */
  margin-bottom: -1px;
  
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;

}

.tab-panels {
  background-color: var(--tabs-lite-color);
  padding: 20px;
  border: var(--tabs-border-size) solid var(--tabs-border-color);
  border-radius: 0 0 10px 10px;
}

ol.listica{
  border: solid #ffffff;
  padding: 10%;
  border-radius: 15px;
  margin: 0 5% 0 5%;
  display: grid;
  justify-content: center;
  font-size: 16px;
}
