@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Kaushan+Script&family=Loved+by+the+King&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    font-family: 'Bagel Fat One', cursive;
    display: flex;
    justify-content: center;
    margin-bottom: 0; 
}
nav{
    display: flex;
    justify-content: center;
    margin: 0 30% 0 30%;  
    background-color: lightblue;
    flex-direction: row;
    
}
h1{
    padding: 20px 0 0 0;
}


#logo{
    display: flex;
}


ul.lista01{
    display: flex;
    justify-content: space-between;
    

}

ul.horizontalList {
    list-style: none;
    
  }
  
  ul.lista01 li {
    display: flex;
    padding: 0 5px 0 5px;
    font-size: 13px;
    font-family: 'Kaushan Script', cursive;
  }
  
  ul.lista01 li a:link {
    color: #9665b3;
    text-decoration: none;
    padding: 5px;
    border: 2px solid #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  ul.lista01 li a:visited {
    color: #000000;}

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/


img.logo{
    width: 100px;
    border-radius: 50px;
    margin: 2%;
    padding: 10px;
}
img.perfil{
    border-radius: 100px;
    width: 200px;
}
section{
    font-family: 'Loved by the King', cursive;
    font-size: 28px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1% 10% 0 10% ;
}

p{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;  
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
button{
    background-color: #9665b3;
    border: solid #000000;
    border-radius: 15px;
    padding: 8px;
    font-family: 'Kaushan Script', cursive;
    font-size: medium;
    margin: 10px;
    
}

ul.lista02{
   
    display: inline-flex;
    padding: 5px;
    
}

.tab-content {
    display: none;
  }
  .tab:target .tab-content, .tab:last-of-type .tab-content {
    display: block;
  }
  .tab:target ~ .tab:last-of-type .tab-content {
    display: none;
  }

  :root {
    --tabs-border-color: #ABCDEF;
    --tabs-border-size: 3px;
    --tabs-text-color: #000000;
    --tabs-dark-color: #345678;
    --tabs-lite-color: #b5cce2;
    --tabs-width: 120px;
    --tabs-height: 40px;
  }
  body {
    font-family: sans-serif;
    line-height: 1.2;
  }
  h2, p {
    margin: 0;
  } 
  a {
    color: inherit;
    text-decoration: none;
  } 
  .tabs * {
    box-sizing: border-box;
  }
  .tab-container {
    position: relative;
    padding-top: var(--tabs-height); /* en esta zona colocaremos las pestañas */
  } 
  #tab1>a { --tabs-position: 0; }
  #tab2>a { --tabs-position: 1; }
  #tab3>a { --tabs-position: 2; }
  #tab4>a { --tabs-position: 3; }
  #tab5>a { --tabs-position: 4; }
  #tab6>a { --tabs-position: 5; }
  #tab7>a { --tabs-position: 6; }
  #tab8>a { --tabs-position: 7; }
  #tab9>a { --tabs-position: 8; }
  .tab>a {
    text-align: center;
    position: absolute;
    width: calc(var(--tabs-width));
    height: calc(var(--tabs-height) + var(--tabs-border-size)); 
    top: 0;
    left: calc(var(--tabs-width) * var(--tabs-position)); /* posición de cada pestaña */
  }
  .tabs { 
    padding: 10px;
    color: var(--tabs-text-color);
    font-family: 'Loved by the King', cursive;
    font-size: 24PX;

  }
  .tab-content {
    background-color: var(--tabs-lite-color); 
    padding: 20px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 100;
  }
  .tab>a {
    background-color: var(--tabs-dark-color); 
    padding: 10px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
  }
  .tab:target>a, .tab:last-of-type>a {
    background-color: var(--tabs-lite-color); 
    z-index: 200;
  }
  .tab:target ~ .tab:last-of-type>a {
    background-color: var(--tabs-dark-color); 
    z-index: 0; 
  }
  .gif{
    width: 50px;
    margin-right: 50px;
  }
.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}

img.pequeña{
    width: 200px;
    margin: 5%;
}
img.mediana{
    width: 400px;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/


/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
    font-family: 'Kaushan Script', cursive;

    background-color: var(--tabs-dark-color);
    padding: 10px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
}

.tabset > label::after {
  /* content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d; */
}

input:focus-visible + label {
  outline: 2px solid rgba(0,102,204,1);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  background-color: var(--tabs-lite-color);
}

/* .tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background-color: var(--tabs-lite-color);
} */

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;

}

.tab-panels {
  background-color: var(--tabs-lite-color);
  padding: 20px;
  border: var(--tabs-border-size) solid var(--tabs-border-color);
  border-radius: 0 0 10px 10px;
}